body{
    background-color: rgba(0, 0, 0, 0.397);
}

#container{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid;
    max-width: 50%;
    margin: auto;
    margin-top: 50px;
    background-color: aliceblue;
}

#top{
    background-color: aqua;
    padding: 5px;
    border-bottom: 2px solid;
}

#myInput{
    font-size: 1.3em;
}

#submit{
    font-size: 1.5em;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: hsl(240, 94%, 43%);
    color: white;
    cursor: pointer;
}

#submit:hover{
    background-color: hsl(240, 62%, 54%);
}